.register-form-position {
    position: absolute;
    left: 35%;
    top: 20%;
}

.company-header{
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    color: black;
}

h1 span{
    color: green;
}

a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}


.register-form-button {
    width: 100%;
    background-color: green;
}

.register-form-button:hover{
    background-color: black;
}

.register-form {
    max-width: 500px;
}
